<div class="main-div">
    <div class="motors-tittle">
        <h1>Welcome to CSE Motors</h1>       
    </div>
     
    <!--BODY-->
    <section class="hero">
        <img src="images/vehicles/delorean.jpg" alt="car for hero section" />
        <div class="text-block">
            <h2>DMC Delorean</h2>
            <h3>3 Cups holders</h3>
            <h3>Fuzy dicel</h3>
            <button>Own Today!</button>
        </div>
    </section>
    
    <section class="reviews">
        <h3>DMC Delorean Reviews</h3>
        <ul>
            <li>- "So Fast it's almost like traveling in time"-4/5⭐</li>
            <li>- "Coolests ride on the road"-4/5⭐</li>
            <li>- "I'm feeling McFly!"-5/5⭐</li>
            <li>- "The most futuristic ride of our day"-4.5/5⭐</li>
            <li>- "80's living and I love it"-5/5⭐</li>
        </ul>
    </section>
    
    <section class="upgrades">
        <div class="delorean-tittle">
            <h3>Delorean Upgrades</h3>
        </div>
        <div class="area-o">
            <img src="images/upgrades/flux-cap.png" alt="flux capacitor images" />
            <button>Flux Capacitor</button>
        </div>
        <div class="area-t">
            <img src="images/upgrades/bumper_sticker.jpg" alt="pumper sticker images" />
            <button>Bumper Sticker</button>
        </div>
        <div class="area-tr">
            <img src="images/upgrades/flame.jpg" alt=" flame images" />
            <button>Flame Decals</button>
        </div>
        <div class="area-f">
            <img src="/images/upgrades/hub-cap.jpg" alt=" hub cap images" />
            <button>Hub Cap</button>
        </div>
    </section>
</div>