<h1>Welcome to CSE Motors</h1>
<!--BODY-->
<section class="hero">
    <img src="images/vehicles/delorean.jpg" alt="car for hero section">
    <div class="text-block">
        <h2>DMC Delorean</h2>
        <p>3 Cups holders</p>
        <p>Fuzy dicel</p>
        <button>Own Today</button>
    </div>
</section>

