@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,100&display=swap");
/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Kanit', sans-serif;
}
#tools a{
  font-size: 20px;

}
#top-header {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header a:link {
  font-size: 30px;
  color: black;
  text-decoration: none;
}
/*===NAVBAR===*/
.navbar {
  background-color: #7A7A7A; /* Change the background color as needed */
  overflow: hidden;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Use Flexbox to align items horizontally */
}
.navbar li {
  flex: 1; /* Distribute available space equally among the list items */
  text-align: center;
  padding: 14px 16px;
}
.navbar li:hover {
  background-color: #1f1f1f; /* Change the hover background color as needed */
  color: white;
}
.navbar li {
  color: white;
  text-decoration: none;
  list-style: none;
}
/*===HERO===*/
.hero {
  padding: 20px;
  background-color: #333;
  color: #fff;
}
.hero img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.text-block {
  padding: 10px;
}

.text-block h2 {
  font-size: 1.5em;
  margin: 0;
}

.text-block p {
  font-size: 1em;
  margin: 5px 0;
}
.text-block button {
  background-color: #ff5722;
  color: #fff;
  font-size: 1.2em;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.text-block button:hover {
  background-color: #ff4500;
}



/*.hero img {*/
/*  width: 100%;*/
/*}*/
/**/
/*.hero button {*/
/*  background-color: rgb(125, 225, 225);*/
/*  border-radius: 5px;*/
/*}*/
