@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,100&display=swap");
/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --thin-font: "Kanit", sans-serif;
  --reg-font: Arial, Helvetica, sans-serif;
}

html {
  background-image: url(../images/site/checkerboard.jpg);
}
body {
  background-color: #fff;
  margin: auto;
  border-style: solid;
  border-color: #ffa599;
  font-family: var(--reg-font);
}
::-webkit-scrollbar {
  display: none;
}
#tools a {
  font-size: 20px;
}
#top-header {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: var(--thin-font);
}
header a:link {
  font-size: 30px;
  color: black;
  text-decoration: none;
}
/*===NAVBAR===*/
nav {
  background-color: #333; 
  overflow: hidden;
}

nav a:link{
  color: white;
  text-decoration: none;
}

nav a:visited{
  color: white;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Use Flexbox to align items horizontally */
}
nav li {
  flex: 1; /* Distribute available space equally among the list items */
  text-align: center;
  padding: 14px 16px;
}
nav li:hover {
  background-color: #070707; /* Change the hover background color as needed */
  color: white;
}
nav li {
  color: white;
  text-decoration: none;
  list-style: none;
}
/*===HERO===*/
.hero {
  padding: 20px;
  background-color: #333;
  color: #fff;
}
.hero img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.text-block {
  padding: 10px;
}
.text-block h2 {
  font-size: 1.7em;
  margin: 0;
}
.text-block p {
  font-size: 1.5em;
  margin: 5px 0;
}
.text-block button {
  background-color: #ffa599;
  color: black;
  font-size: 1.3rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.text-block button:hover {
  background-color: #774e48;
  color: white;
}

.upgrades button:hover {
  background-color: #774e48;
  color: white;
}
.reviews {
  margin: 5px;
  padding: 10px;
}

.reviews h3 {
  font-size: 30px;
}

.reviews ul {
  list-style-type: none;
}

.delorean-tittle {
  font-size: 23px;
}

.upgrades img {
  width: fit-content;
  margin: 5px;
}
.upgrades {
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 1.4fr 1.4fr;
  gap: 0px 0px;
  grid-template-areas:
    "delorean-tittle delorean-tittle"
    "area-o area-t"
    "area-tr area-f";
}

.delorean-tittle {
  grid-area: delorean-tittle;
}

.area-o {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333333ab;
  margin: 5px;
  padding: 5px;
  grid-area: area-o;
}
.area-t {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333333ab;
  margin: 5px;
  padding: 5px;
  grid-area: area-t;
}
.area-tr {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333333ab;
  margin: 5px;
  padding: 5px;
  grid-area: area-tr;
}
.area-f {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333333ab;
  margin: 5px;
  padding: 5px;
  grid-area: area-f;
}

.upgrades button {
  background-color: #ffa599;
  color: black;
  font-size: 1.3rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

footer {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 10px;
  background-color: #1f1f1f;
  color: #fff;
  font-family: vaR(--thin-font);
}

@media only screen and (min-width: 748px) {
  body {
    background-color: #fff;
    max-width: 900px;
    margin: auto;
    border-style: solid;
    border-color: #ffa599;
  }
  #top-header span a {
    color: black;
    font-size: 50px;
  }
  #tools a {
    font-size: 30px;
  }
  nav ul li {
    font-size: 25px;
  }
  .hero img {
    width:70%;
  }
  .hero {
    display: flex;
    flex-direction: row;
    align-items: center;
  }


  .reviews ul li{
    font-size: 20px;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 1.4fr 1.3fr;
    gap: 5px 5px;
    grid-template-areas:
      "motors-tittle motors-tittle"
      "hero hero"
      "reviews upgrades";
  }

  .motors-tittle {
    grid-area: motors-tittle;
    font-family: var(--thin-font);
  }

  .hero {
    grid-area: hero;
  }

  .reviews {
    grid-area: reviews;
  }

  .upgrades {
    grid-area: upgrades;
  }
}
